# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build
dist/
build/
.dart_tool/

# Environment Files
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
*.swp
*.swo

# Docker volume data
infrastructure/postgres_data/
infrastructure/redis_data/
